openapi: 3.2.0
info:
  title: Lunary Datasets API
  description: 'REST API for Lunary, an open-source LLM observability and evaluation

    platform.'
  version: '1.0'
  contact:
    name: Lunary
    url: https://docs.lunary.ai/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.lunary.ai
  description: Lunary Cloud
security:
- ProjectPrivateApiKeyAuth: []
tags:
- name: Datasets
paths:
  /v1/datasets:
    get:
      tags:
      - Datasets
      summary: List datasets
      operationId: listDatasets
      responses:
        '200':
          description: Datasets
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Datasets
      summary: Create dataset
      operationId: createDataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /v1/datasets/{identifier}:
    parameters:
    - name: identifier
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Datasets
      summary: Get dataset by identifier
      operationId: getDataset
      security:
      - ProjectPublicApiKeyAuth: []
      responses:
        '200':
          description: Dataset
          content:
            application/json:
              schema:
                type: object
  /v1/datasets/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Datasets
      summary: Update dataset
      operationId: updateDataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Datasets
      summary: Delete dataset
      operationId: deleteDataset
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    ProjectPrivateApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project private API key (UUID)
    ProjectPublicApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project public API key (UUID)
    OrgApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary organization API key (UUID)
