openapi: 3.2.0
info:
  title: Lunary External Users API
  description: 'REST API for Lunary, an open-source LLM observability and evaluation

    platform.'
  version: '1.0'
  contact:
    name: Lunary
    url: https://docs.lunary.ai/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.lunary.ai
  description: Lunary Cloud
security:
- ProjectPrivateApiKeyAuth: []
tags:
- name: External Users
paths:
  /v1/external-users:
    get:
      tags:
      - External Users
      summary: List external users
      operationId: listExternalUsers
      responses:
        '200':
          description: External users
          content:
            application/json:
              schema:
                type: object
  /v1/external-users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - External Users
      summary: Get external user
      operationId: getExternalUser
      responses:
        '200':
          description: External user
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - External Users
      summary: Delete external user
      operationId: deleteExternalUser
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    ProjectPrivateApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project private API key (UUID)
    ProjectPublicApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project public API key (UUID)
    OrgApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary organization API key (UUID)
