openapi: 3.2.0
info:
  title: Lunary Test Endpoint API
  description: 'REST API for Lunary, an open-source LLM observability and evaluation

    platform.'
  version: '1.0'
  contact:
    name: Lunary
    url: https://docs.lunary.ai/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.lunary.ai
  description: Lunary Cloud
security:
- ProjectPrivateApiKeyAuth: []
tags:
- name: TestEndpoint
paths:
  /v1/test-endpoint:
    post:
      tags:
      - TestEndpoint
      summary: Test endpoint
      operationId: testEndpoint
      security:
      - ProjectPublicApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
  /v1/test-endpoint/auth:
    post:
      tags:
      - TestEndpoint
      summary: Test endpoint auth
      operationId: testEndpointAuth
      security:
      - ProjectPublicApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Auth result
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    ProjectPrivateApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project private API key (UUID)
    ProjectPublicApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project public API key (UUID)
    OrgApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary organization API key (UUID)
