openapi: 3.1.0
info:
  title: Lunary Analytics Playground API
  description: 'REST API for Lunary, an open-source LLM observability and evaluation

    platform. Covers ingestion (runs/traces), prompt templates with versions,

    datasets and dataset items, evaluations and criteria, analytics, audit

    logs, checklists, playground endpoints, views, and models.


    Three authentication schemes are used: project-scoped public API keys for

    ingestion endpoints, project-scoped private API keys for management

    endpoints, and organization-scoped API keys for org-level analytics. All

    are passed as Bearer tokens in the Authorization header.

    '
  version: '1.0'
  contact:
    name: Lunary
    url: https://docs.lunary.ai/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://api.lunary.ai
  description: Lunary Cloud
security:
- ProjectPrivateApiKeyAuth: []
tags:
- name: Playground
paths:
  /v1/playground-endpoints:
    get:
      tags:
      - Playground
      summary: List playground endpoints
      operationId: listPlaygroundEndpoints
      responses:
        '200':
          description: Playground endpoints
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
      - Playground
      summary: Create playground endpoint
      operationId: createPlaygroundEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
  /v1/playground-endpoints/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Playground
      summary: Get playground endpoint
      operationId: getPlaygroundEndpoint
      responses:
        '200':
          description: Endpoint
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
      - Playground
      summary: Replace playground endpoint
      operationId: replacePlaygroundEndpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Replaced
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
      - Playground
      summary: Delete playground endpoint
      operationId: deletePlaygroundEndpoint
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    ProjectPrivateApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project private API key (UUID)
    ProjectPublicApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary project public API key (UUID)
    OrgApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: Lunary organization API key (UUID)
